body{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
.section {
    width: 100%;
    height: auto;
}
.header {
    /* position: fixed; */
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    /* background-color: #e5e5e5; */
    z-index: 1000;
    /* box-shadow: 2px 2px 15px #aaa; */
}
.container {
    margin: 0 auto;
    max-width: 1090px;
    height: auto;
    padding: 0px 30px;
}
.left-part{
    float: left;
}
.right-part{
    float: right;
}
.clear {
    clear: both;
}
.nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0.3em 0.5em;
    font-weight: normal;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: 0.4s;
}
.nav ul li::after{
    content: "";
    width: 70%;
    margin-top: 5px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: 0.4s;
}
.nav ul li:hover::after{
    border-bottom: 4px solid #333;
    transition: 0.4s;
}
.nav ul li a{
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    transition: 0.2s;
}
.nav ul li a:hover{
    text-decoration: none;
    color: #333;
    transition: 0.2s;
}
.section-intro {
    background-color: #239575;
    min-height: 400px;
    padding-top: 100px;
}
.section-intro .left-part{
    padding-left: 25px;
    max-width: 60%;
}
.section-intro .left-part .intro-name{
    font-size: 3em;
}
.section-intro .left-part .intro-text{
    text-indent: 25px;
    line-height: 30px;
    word-break: normal
}
.section-service{
    padding: 2em 0 7em 0;
    background-color: #152555;
}
.service-text{
    text-align: center;
}
.service-text .service-title{
    font-size: 2.2em;
    padding: 1.5em 0 0.5em 0;
    margin: 0;
    color: #e5e5e5;
}
.service-text .service-disc{
    padding: 2em 0;
    width: 75%;
    margin: 0 auto;
    line-height: 30px;
    font-size: 20px;
    color: #d5d5d5;
}

.service-box{
    padding: 2em 0.5em 0.5em 0.5em;
    display:flex;
    flex-flow: row;
    justify-content: space-around;
}
.card-service {
    margin: 0.1em 1em;
    position: relative;
    padding: 30px;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    width: 33.333%;
    justify-items: center;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
}
.card-link-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.card-figure .service-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: #2595a5;
    border-radius: 100%;
}
.card-figure .service-icon i{
    font-size: 34px;
}
.card-title .service-title{
    font-size: 27px;
}
.card-text{
    font-size: 18px;
}